<% provide :title do %><%= t('pages.titles.accessibility') %><% end %>
<% content_for :canonical do %>
  <%= render "shared/canonical", href: page_url("accessibility") %>
<% end %>

<div class="row">
<div class="small-12 column">
  <h1><%= t('pages.titles.accessibility') %></h1>

  <h2>Page under construction</h2>
  <p>This website is still under construction. If you speak Spanish, you are welcome to help me to fill this page! The original text is <a href="https://decide.madrid.es/accesibilidad">here</a>.</p>

  </div>
</div>
