// Overrides and adds customized foundation settings in this file
// Read more on documentation:
// * English: https://github.com/consul/consul/blob/master/CUSTOMIZE_EN.md#css
// * Spanish: https://github.com/consul/consul/blob/master/CUSTOMIZE_ES.md#css
//

$brand:             #17526e;
$dark:              #113141;
$color-info:        #71b3d9;

$body-font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif !important;
